# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# ML models
models/
*.joblib

# Node / frontend
node_modules/
.next/
out/
dist/

# Environment
.env
.env.local
.env.*.local
